<%= simple_form_for @survey, defaults: { input_html: { class: 'span10' } } do |f| %>
  <%= f.error_notification %>
  <% if f.object.errors[:base].any? %>
    <div class="alert alert-error">
      <%= f.object.errors[:base].join(', ') %>
    </div>
  <% end %>

  <div class="form-inputs">

    <div class="well">
      <h2 class="text-center"><%= t('view.surveys.personal_info') %></h2>
    </div>

    <div id="personal-info">
      <div class='row-fluid'>
        <div class='span5'>
          <%= f.input :firstname, input_html: { class: 'span12' } %>
        </div>
        <div class='span5'>
          <%= f.input :lastname, input_html: { class: 'span12' } %>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span5'>
          <%= f.input :phone, input_html: { class: 'span12' } %>
        </div>
        <div class='span5'>
          <%= f.input :email, input_html: { class: 'span12' } %>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span3'>
          <%= institutions_select_for_survey(f) %>
        </div>
        <div class="span2">
          <div class="hide" data-another-institution>
            <%= f.label :another_institution, 
              t('view.surveys.another_institution') %>
            <%= f.input :another_institution, label: false,
              input_html: { class: 'span11', placeholder: 'Inst.' } %>
          </div>
        </div>
        <div class='span2'>
          <%= f.input :identification, input_html: { class: 'span11' } %>
        </div>
        <div class='span4'>
        <%= f.label :status_in_institution do %>
          <%= content_tag(
            :abbr, "? #{Survey.human_attribute_name(:status_in_institution)}", 
            title: t('view.surveys.status_institution_abbr')
          ) %>
        <% end %>
        <%= f.input :status_in_institution, label: false, input_html: {
          class: 'span9'
        } %>
        </div>
      </div>
    </div>

    <div class="breadcrumb text-center">
      <h4><%= t('view.surveys.travel_info') %></h5>
      <span><%= raw t('view.surveys.tabs_explain') %></span>
    </div>

    <div id="travel-items" class="tabbable">
      <% worked_days = t('view.surveys.worked_days') %>
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to worked_days, "##{worked_days.gsub(' ', '_')}", 
            data: { toggle: 'tab' } %>
        </li>
        <% t('date.day_names').each_with_index do |day, i| %>
          <% camel_day = day.camelize %>

          <li>
            <%= link_to camel_day, "##{camel_day}", data: { toggle: 'tab' } %>
          </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <% count = @survey.travel_lines.size %>
        <% (8 - count).times { @survey.travel_lines.build } %>
        <% i = 0 %>
        <%= f.simple_fields_for :travel_lines do |tl| %>
          <% id = return_id_for_travel_line(tl, i, worked_days) %>
          <div class="tab-pane <%= 'active' if id == worked_days %>" 
            id="<%= id.gsub(' ', '_') %>" >
            <%= render partial: 'travel_line', locals: { f: tl, day: id } %>
          </div>
          <% i += 1 %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, t('view.surveys.save'), class: 'btn-primary' %>
  </div>
<% end %>
